USE [master]
GO
/****** Object:  Database [PersonalProfileSystem]    Script Date: 3/20/2026 1:45:54 PM ******/
CREATE DATABASE [PersonalProfileSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonalProfileSystem', FILENAME = N'C:\Users\sshree\PersonalProfileSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonalProfileSystem_log', FILENAME = N'C:\Users\sshree\PersonalProfileSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalProfileSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalProfileSystem]
GO
/****** Object:  Table [dbo].[PersonInfos]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonInfos](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[middleName] [varchar](50) NULL,
	[lastName] [varchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_basicInfo] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAchievements]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAchievements](
	[userId] [int] NOT NULL,
	[achievementId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_userAchievements] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[achievementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Achievements]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievements](
	[achievementId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[achievementDate] [date] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_achievements] PRIMARY KEY CLUSTERED 
(
	[achievementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonAchievement]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vwPersonAchievement] as
select 
p.userId,
a.achievementId,
a.title,
a.description,
a.achievementDate
from 
PersonInfos as p
left join UserAchievements as ua
on p.userId = ua.userId
left join Achievements as a
on ua.achievementId = a.achievementId



GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addressId] [int] IDENTITY(1,1) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[provinceState] [varchar](50) NOT NULL,
	[districtCity] [varchar](50) NOT NULL,
	[ward] [int] NOT NULL,
	[tole] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[addressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userAddress]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userAddress](
	[userId] [int] NOT NULL,
	[addressId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_userAddress] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[addressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonAddress]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vwPersonAddress]
as
select
	p.userId,
	a.addressId,
	a.country,
	a.provinceState,
	a.districtCity,
	a.ward,
	a.tole

	from PersonInfos as p
	left join userAddress as ua
	on p.userId = ua.userId
	left join Address as a
	on ua.addressId = a.addressId
GO
/****** Object:  Table [dbo].[UserCertificates]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCertificates](
	[userId] [int] NOT NULL,
	[certificateId] [int] NOT NULL,
	[certificateImage] [image] NULL,
	[issuedBy] [varchar](50) NULL,
	[issuedDate] [date] NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userCertificates] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[certificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[certificateId] [int] IDENTITY(1,1) NOT NULL,
	[certificateType] [varchar](50) NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_certificate] PRIMARY KEY CLUSTERED 
(
	[certificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonCertificate]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwPersonCertificate] AS
SELECT 
    p.userId,
    c.certificateId,
    c.certificateType,
    uc.certificateImage,
    uc.issuedBy,
    uc.issuedDate
FROM PersonInfos AS p
LEFT JOIN UserCertificates AS uc
    ON p.userId = uc.userId
LEFT JOIN Certificates AS c
    ON uc.certificateId = c.certificateId
WHERE p.isDeleted = 0
  AND (uc.isDeleted = 0 OR uc.isDeleted IS NULL); -- only active certificates
GO
/****** Object:  Table [dbo].[UserSocial]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSocial](
	[userId] [int] NOT NULL,
	[socialId] [int] NOT NULL,
	[platformUrl] [varchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userSocial] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[socialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Social]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Social](
	[socialId] [int] IDENTITY(1,1) NOT NULL,
	[platformName] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_social] PRIMARY KEY CLUSTERED 
(
	[socialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[contactId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [bigint] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[contactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonContact]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPersonContact] AS
SELECT 
    p.UserId,
    c.ContactId,
    s.socialId,
    c.Email,
    c.Phone,
    s.platformName,
    us.platformUrl
    
FROM PersonInfos AS p
LEFT JOIN Contacts AS c
ON p.UserId = c.UserId
left join userSocial as us
on p.userId = us.userId
left join Social as s
on us.socialId = s.socialId
WHERE p.isDeleted = 0
  AND (c.isDeleted = 0 OR c.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[Educations]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[educationId] [int] IDENTITY(1,1) NOT NULL,
	[institutionName] [varchar](50) NOT NULL,
	[degree] [varchar](50) NOT NULL,
	[field] [varchar](50) NOT NULL,
	[location] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_education] PRIMARY KEY CLUSTERED 
(
	[educationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEducations]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEducations](
	[userId] [int] NOT NULL,
	[educationId] [int] NOT NULL,
	[currentlyStudying] [bit] NULL,
	[grade] [varchar](50) NULL,
	[passedYear] [int] NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userEducations] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[educationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonEducation]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwPersonEducation] as
select 
p.userId,
ed.educationId,
ed.institutionName,
ed.degree,
ed.field,
ed.location,
ued.currentlyStudying,
ued.grade,
ued.passedYear

from PersonInfos as p
left join UserEducations as ued
on p.userId = ued.userId
left join Educations as ed
on ued.educationId = ed.educationId
WHERE p.isDeleted = 0
  AND (ued.isDeleted = 0 OR ued.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[EmploymentHistory]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentHistory](
	[userId] [int] NOT NULL,
	[companyId] [int] NOT NULL,
	[jobTitle] [varchar](50) NOT NULL,
	[startDate] [date] NOT NULL,
	[isCurrentlyWorking] [bit] NOT NULL,
	[endDate] [date] NULL,
	[yearsOfExperience] [int] NULL,
	[salary] [decimal](18, 2) NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EmploymentHistory_1] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[companyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[companyId] [int] IDENTITY(1,1) NOT NULL,
	[salaryId] [int] NOT NULL,
	[companyName] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__company___AD54599009DC6D8D] PRIMARY KEY CLUSTERED 
(
	[companyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyAddress]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyAddress](
	[companyAddressId] [int] IDENTITY(1,1) NOT NULL,
	[companyId] [int] NOT NULL,
	[country] [varchar](50) NOT NULL,
	[districtCity] [varchar](50) NOT NULL,
	[provinceState] [varchar](50) NOT NULL,
	[isHeadOffice] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyAddress] PRIMARY KEY CLUSTERED 
(
	[companyAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonEmploymentHistory]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwPersonEmploymentHistory]
as
select 
p.userId,
c.companyId,
eh.jobTitle,
eh.startDate,
eh.isCurrentlyWorking,
eh.endDate,
eh.yearsOfExperience,
ca.districtCity,
ca.provinceState,
ca.isHeadOffice,
us.amount

from
PersonInfos as p
left join EmploymentHistory as eh
on p.userId = eh.userId
left join Company as c
on eh.companyId = c.companyId
left join CompanyAddress as ca
on c.companyId = ca.companyId
left join UserSalary as us
on p.userId = us.userId
WHERE p.isDeleted = 0
  AND (eh.isDeleted = 0 OR eh.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[UserLanguage]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLanguage](
	[userId] [int] NOT NULL,
	[languageId] [int] NOT NULL,
	[proficiencyLevel] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userLanguage] PRIMARY KEY CLUSTERED 
(
	[languageId] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[languageId] [int] IDENTITY(1,1) NOT NULL,
	[languageName] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_languages] PRIMARY KEY CLUSTERED 
(
	[languageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonLanguage]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwPersonLanguage]
as
select 
p.userId,
l.languageId,
l.languageName,
ul.proficiencyLevel
from
PersonInfos as p
left join UserLanguage as ul
on p.userId = ul.userId
left join Languages as l
on ul.languageId = l.languageId
WHERE p.isDeleted = 0
  AND (ul.isDeleted = 0 OR ul.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[Projects]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[projectId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_projects] PRIMARY KEY CLUSTERED 
(
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsedTechnology]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsedTechnology](
	[projectId] [int] NOT NULL,
	[technologyId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_UsedTechnology] PRIMARY KEY CLUSTERED 
(
	[projectId] ASC,
	[technologyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology](
	[technologyId] [int] IDENTITY(1,1) NOT NULL,
	[TechnologyName] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TechnologyUsed] PRIMARY KEY CLUSTERED 
(
	[technologyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProjects]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProjects](
	[userId] [int] NOT NULL,
	[projectId] [int] NOT NULL,
	[role] [varchar](50) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userProjects] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonProject]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwPersonProject] as
select 
p.userId,
pro.projectId,
t.technologyId,
pro.title,
uPro.role,
uPro.startDate,
uPro.endDate,
t.Technology

from PersonInfos as p
left join userProjects as uPro
on p.userId = uPro.userId
left join Projects as pro
on upro.projectId = pro.projectId
left join UsedTechnology as ut
on pro.projectId = ut.projectId
left join Technology as t
on ut.technologyId = t.technologyId
WHERE p.isDeleted = 0
  AND (uPro.isDeleted = 0 OR uPro.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[skillId] [int] IDENTITY(1,1) NOT NULL,
	[skillName] [nvarchar](50) NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[skillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSkill]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSkill](
	[userId] [int] NOT NULL,
	[skillId] [int] NOT NULL,
	[skillLevel] [varchar](50) NULL,
	[yearsOfExperience] [int] NULL,
	[isActive] [bit] NOT NULL,
	[deletedBy] [int] NULL,
	[deletedDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userSkill] PRIMARY KEY CLUSTERED 
(
	[skillId] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonSkill]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vwPersonSkill]
as
select 
p.userId,
sk.skillId,
sk.skillName,
usk.skillLevel,
usk.yearsOfExperience,
usk.createdBy,
usk.createdDate,
usk.updatedBy,
usk.updatedDate

from PersonInfos as p
left join UserSkill as usk
on p.userId = usk.userId
left join Skills as sk
on usk.skillid = sk.skillId
WHERE p.isDeleted = 0
  AND (usk.isDeleted = 0 OR usk.isDeleted IS NULL);



GO
/****** Object:  Table [dbo].[Hobbies]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobbies](
	[hobbyId] [int] IDENTITY(1,1) NOT NULL,
	[hobbyName] [varchar](50) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_hobbies] PRIMARY KEY CLUSTERED 
(
	[hobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHobbies]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHobbies](
	[userId] [int] NOT NULL,
	[hobbyId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_userHobbies] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[hobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonHobbie]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vwPersonHobbie] as
select 
p.userId,
h.hobbyId,
h.hobbyName,
h.category

from 
PersonInfos as p
left join UserHobbies as uh
on p.userId = uh.userId
left join Hobbies as h
on uh.hobbyId = h.hobbyId




GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Achievements] ADD  CONSTRAINT [DF_Achievements_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Certificates] ADD  CONSTRAINT [DF_Certificates_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  CONSTRAINT [DF_CompanyAddress_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Educations] ADD  CONSTRAINT [DF_Educations_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EmploymentHistory] ADD  CONSTRAINT [DF__Employmen__isDel__031C6FA4]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[EmploymentHistory] ADD  CONSTRAINT [DF__Employmen__creat__041093DD]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Hobbies] ADD  CONSTRAINT [DF_Hobbies_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Languages] ADD  CONSTRAINT [DF_Languages_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[PersonInfos] ADD  CONSTRAINT [DF__PersonInf__isDel__6D2D2E85]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_isDeleted_1]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF_Skills_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Social] ADD  CONSTRAINT [DF_Social_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Technology] ADD  CONSTRAINT [DF_Technology_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[UsedTechnology] ADD  CONSTRAINT [DF_UsedTechnology_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserAchievements] ADD  CONSTRAINT [DF_UserAchievements_isActive]  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[userAddress] ADD  CONSTRAINT [DF_userAddress_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserCertificates] ADD  CONSTRAINT [DF__UserCerti__isDel__7D63964E]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserCertificates] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[UserEducations] ADD  CONSTRAINT [DF__UserEduca__isDel__01342732]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserEducations] ADD  CONSTRAINT [DF__UserEduca__creat__02284B6B]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[UserHobbies] ADD  CONSTRAINT [DF_UserHobbies_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserLanguage] ADD  CONSTRAINT [DF__UserLangu__isDel__7B7B4DDC]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserLanguage] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[UserProjects] ADD  CONSTRAINT [DF__UserProje__isDel__7F4BDEC0]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserProjects] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[UserSkill] ADD  CONSTRAINT [DF__UserSkill__isDel__7993056A]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserSkill] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[UserSocial] ADD  CONSTRAINT [DF__UserSocia__isDel__77AABCF8]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserSocial] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_CompanyAddress_Company] FOREIGN KEY([companyId])
REFERENCES [dbo].[Company] ([companyId])
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [FK_CompanyAddress_Company]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_PersonInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_PersonInfos]
GO
ALTER TABLE [dbo].[EmploymentHistory]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentHistory_Company] FOREIGN KEY([companyId])
REFERENCES [dbo].[Company] ([companyId])
GO
ALTER TABLE [dbo].[EmploymentHistory] CHECK CONSTRAINT [FK_EmploymentHistory_Company]
GO
ALTER TABLE [dbo].[EmploymentHistory]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentHistory_PersonInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[EmploymentHistory] CHECK CONSTRAINT [FK_EmploymentHistory_PersonInfos]
GO
ALTER TABLE [dbo].[UsedTechnology]  WITH CHECK ADD  CONSTRAINT [FK_UsedTechnology_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([projectId])
GO
ALTER TABLE [dbo].[UsedTechnology] CHECK CONSTRAINT [FK_UsedTechnology_Projects]
GO
ALTER TABLE [dbo].[UsedTechnology]  WITH CHECK ADD  CONSTRAINT [FK_UsedTechnology_Technology] FOREIGN KEY([technologyId])
REFERENCES [dbo].[Technology] ([technologyId])
GO
ALTER TABLE [dbo].[UsedTechnology] CHECK CONSTRAINT [FK_UsedTechnology_Technology]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_Achievements] FOREIGN KEY([achievementId])
REFERENCES [dbo].[Achievements] ([achievementId])
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_UserAchievements_Achievements]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_userAchievements_basicInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_userAchievements_basicInfos]
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD  CONSTRAINT [FK_userAddress_Address] FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[userAddress] CHECK CONSTRAINT [FK_userAddress_Address]
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD  CONSTRAINT [FK_userAddress_PersonInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[userAddress] CHECK CONSTRAINT [FK_userAddress_PersonInfos]
GO
ALTER TABLE [dbo].[UserCertificates]  WITH CHECK ADD  CONSTRAINT [FK_userCertificates_basicInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserCertificates] CHECK CONSTRAINT [FK_userCertificates_basicInfos]
GO
ALTER TABLE [dbo].[UserCertificates]  WITH CHECK ADD  CONSTRAINT [FK_userCertificates_certificates] FOREIGN KEY([certificateId])
REFERENCES [dbo].[Certificates] ([certificateId])
GO
ALTER TABLE [dbo].[UserCertificates] CHECK CONSTRAINT [FK_userCertificates_certificates]
GO
ALTER TABLE [dbo].[UserEducations]  WITH CHECK ADD  CONSTRAINT [FK_userEducations_basicInfos1] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserEducations] CHECK CONSTRAINT [FK_userEducations_basicInfos1]
GO
ALTER TABLE [dbo].[UserEducations]  WITH CHECK ADD  CONSTRAINT [FK_userEducations_educations1] FOREIGN KEY([educationId])
REFERENCES [dbo].[Educations] ([educationId])
GO
ALTER TABLE [dbo].[UserEducations] CHECK CONSTRAINT [FK_userEducations_educations1]
GO
ALTER TABLE [dbo].[UserHobbies]  WITH CHECK ADD  CONSTRAINT [FK_userHobbies_basicInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserHobbies] CHECK CONSTRAINT [FK_userHobbies_basicInfos]
GO
ALTER TABLE [dbo].[UserHobbies]  WITH CHECK ADD  CONSTRAINT [FK_userHobbies_hobbies] FOREIGN KEY([hobbyId])
REFERENCES [dbo].[Hobbies] ([hobbyId])
GO
ALTER TABLE [dbo].[UserHobbies] CHECK CONSTRAINT [FK_userHobbies_hobbies]
GO
ALTER TABLE [dbo].[UserLanguage]  WITH CHECK ADD  CONSTRAINT [FK_userLanguage_basicInfos] FOREIGN KEY([languageId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserLanguage] CHECK CONSTRAINT [FK_userLanguage_basicInfos]
GO
ALTER TABLE [dbo].[UserLanguage]  WITH CHECK ADD  CONSTRAINT [FK_userLanguage_languages] FOREIGN KEY([languageId])
REFERENCES [dbo].[Languages] ([languageId])
GO
ALTER TABLE [dbo].[UserLanguage] CHECK CONSTRAINT [FK_userLanguage_languages]
GO
ALTER TABLE [dbo].[UserProjects]  WITH CHECK ADD  CONSTRAINT [FK_userProjects_basicInfos2] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserProjects] CHECK CONSTRAINT [FK_userProjects_basicInfos2]
GO
ALTER TABLE [dbo].[UserProjects]  WITH CHECK ADD  CONSTRAINT [FK_userProjects_projects1] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([projectId])
GO
ALTER TABLE [dbo].[UserProjects] CHECK CONSTRAINT [FK_userProjects_projects1]
GO
ALTER TABLE [dbo].[UserSkill]  WITH CHECK ADD  CONSTRAINT [FK_userSkill_basicInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserSkill] CHECK CONSTRAINT [FK_userSkill_basicInfos]
GO
ALTER TABLE [dbo].[UserSkill]  WITH CHECK ADD  CONSTRAINT [FK_userSkill_Skills] FOREIGN KEY([skillId])
REFERENCES [dbo].[Skills] ([skillId])
GO
ALTER TABLE [dbo].[UserSkill] CHECK CONSTRAINT [FK_userSkill_Skills]
GO
ALTER TABLE [dbo].[UserSocial]  WITH CHECK ADD  CONSTRAINT [FK_userSocial_basicInfos] FOREIGN KEY([userId])
REFERENCES [dbo].[PersonInfos] ([userId])
GO
ALTER TABLE [dbo].[UserSocial] CHECK CONSTRAINT [FK_userSocial_basicInfos]
GO
ALTER TABLE [dbo].[UserSocial]  WITH CHECK ADD  CONSTRAINT [FK_userSocial_social] FOREIGN KEY([socialId])
REFERENCES [dbo].[Social] ([socialId])
GO
ALTER TABLE [dbo].[UserSocial] CHECK CONSTRAINT [FK_userSocial_social]
GO
/****** Object:  StoredProcedure [dbo].[addPersonEducation]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addPersonEducation]
    @userId INT,
    @institutionName NVARCHAR(50),
    @degree NVARCHAR(50),
    @field NVARCHAR(50),
    @location NVARCHAR(50),
    @currentlyStudying BIT,
    @grade FLOAT,
    @passedYear INT,
    @achievement NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @educationId INT;

    -- 1️⃣ Check if user exists
    IF NOT EXISTS (SELECT 1 FROM PersonInfos WHERE userId = @userId)
    BEGIN
        SELECT 'Invalid UserId' AS Message;
        RETURN;
    END

    -- 2️⃣ Check if the exact education already exists
    SELECT @educationId = educationId
    FROM Educations
    WHERE institutionName = @institutionName
      AND degree = @degree
      AND field = @field
      AND location = @location
      AND passedYear = @passedYear
      AND grade = @grade
      AND achievement = @achievement;

    -- 3️⃣ If education does not exist, insert it
    IF @educationId IS NULL
    BEGIN
        INSERT INTO Educations (
            institutionName,
            degree,
            field,
            location,
            currentlyStudying,
            grade,
            passedYear,
            achievement
        )
        VALUES (
            @institutionName,
            @degree,
            @field,
            @location,
            @currentlyStudying,
            @grade,
            @passedYear,
            @achievement
        );

        SET @educationId = SCOPE_IDENTITY();
    END

    -- 4️⃣ Prevent duplicate user-education links
    IF EXISTS (
        SELECT 1 
        FROM UserEducations
        WHERE userId = @userId AND educationId = @educationId
    )
    BEGIN
        SELECT 'Education already assigned to this user' AS Message;
        RETURN;
    END

    -- 5️⃣ Insert link into UserEducations
    INSERT INTO UserEducations (userId, educationId)
    VALUES (@userId, @educationId);

    SELECT 'Education added successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[addPersonLanguage]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addPersonLanguage]
    @userId INT,
    @languageName NVARCHAR(50),
    @proficiencyLevel NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @languageId INT;

    -- Check if user exists
    IF NOT EXISTS (SELECT 1 FROM PersonInfos WHERE userId = @userId)
    BEGIN
        SELECT 'Invalid UserId' AS Message;
        RETURN;
    END

    -- Get languageId if language already exists
    SELECT @languageId = languageId
    FROM Languages
    WHERE languageName = @languageName;

    -- If language does not exist, insert it
    IF @languageId IS NULL
    BEGIN
        INSERT INTO Languages (languageName)
        VALUES (@languageName);

        SET @languageId = SCOPE_IDENTITY();
    END

    -- Prevent duplicate entry in junction table
    IF EXISTS (SELECT 1 FROM UserLanguage WHERE userId = @userId AND languageId = @languageId)
    BEGIN
        SELECT 'Language already assigned to this user' AS Message;
        RETURN;
    END

    -- Insert into UserLanguage
    INSERT INTO UserLanguage (userId, languageId, proficiencyLevel)
    VALUES (@userId, @languageId, @proficiencyLevel);

    SELECT 'Language added successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[addPersonProject]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addPersonProject]
    @userId INT,
    @title NVARCHAR(50),
    @description NVARCHAR(MAX),
    @thumbnailImageUrl NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @projectId INT;

    -- Check if user exists
    IF NOT EXISTS (SELECT 1 FROM PersonInfos WHERE userId = @userId)
    BEGIN
        SELECT 'Invalid UserId' AS Message;
        RETURN;
    END

    -- Check if project already exists (by title)
    SELECT @projectId = projectId
    FROM Projects
    WHERE title = @title;

    -- If project does not exist, insert it
    IF @projectId IS NULL
    BEGIN
        INSERT INTO Projects (title, description, thumbnailImageUrl)
        VALUES (@title, @description, @thumbnailImageUrl);

        SET @projectId = SCOPE_IDENTITY();
    END

    -- Prevent duplicate entry in junction table
    IF EXISTS (SELECT 1 FROM UserProjects WHERE userId = @userId AND projectId = @projectId)
    BEGIN
        SELECT 'Project already assigned to this user' AS Message;
        RETURN;
    END

    -- Insert into UserProjects
    INSERT INTO UserProjects (userId, projectId)
    VALUES (@userId, @projectId);

    SELECT 'Project added successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[AddPersonSkill]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPersonSkill] 
    @UserId     INT,
    @SkillName  VARCHAR(500),
    @SkillLevel VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SkillId INT;

    -- Check if user exists
    IF NOT EXISTS (
        SELECT 1 FROM dbo.PersonInfos WHERE userId = @UserId
    )
    BEGIN
        SELECT 'Invalid userId' AS Message;
        RETURN;
    END

    -- Get skillId if skill exists
    SELECT @SkillId = skillId
    FROM dbo.Skills
    WHERE skillName = @SkillName;

    -- If skill does not exist, insert it
    IF @SkillId IS NULL
    BEGIN
        INSERT INTO dbo.Skills (skillName)
        VALUES (@SkillName);

        SET @SkillId = SCOPE_IDENTITY();  -- ✅ get newly inserted skillId
    END

    -- Prevent duplicate skill assignment
    IF EXISTS (
        SELECT 1
        FROM dbo.UserSkill
        WHERE userId = @UserId
          AND skillId = @SkillId
    )
    BEGIN
        SELECT 'Skill already assigned to this user' AS Message;
        RETURN;
    END

    -- Insert user skill
    INSERT INTO dbo.UserSkill (userId, skillId, skillLevel)
    VALUES (@UserId, @SkillId, @SkillLevel);

    SELECT 'Skill added successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[spAddPersonInfo]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddPersonInfo]
(
    @firstName     NVARCHAR(50),
    @middleName    NVARCHAR(50) = NULL,
    @lastName      NVARCHAR(50),
    @dob           DATE,
    @createdBy     INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PersonInfos
    (
        firstName,
        middleName,
        lastName,
        dob,
        createdDate,
        isDeleted,
        deletedBy,
        deletedDate,
        updatedBy,
        updatedDate
    )
    VALUES
    (
        @firstName,
        @middleName,
        @lastName,
        @dob,
        GETDATE(),
        0,
        NULL,
        NULL,
        @createdBy,
        NULL
    );

    -- Return newly created PersonId
    SELECT SCOPE_IDENTITY() AS userId;
END
GO
/****** Object:  StoredProcedure [dbo].[spSeedAddress]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spSeedAddress]
    @TotalRecords INT = 1000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @i INT = 1;

    WHILE @i <= @TotalRecords
    BEGIN
        DECLARE @Country VARCHAR(50) = 'Nepal';
        DECLARE @Province VARCHAR(50);
        DECLARE @District VARCHAR(50);
        DECLARE @Ward INT;
        DECLARE @Tole VARCHAR(50);

        -- Random province
        SET @Province = CASE ABS(CHECKSUM(NEWID())) % 7
            WHEN 0 THEN 'Koshi'
            WHEN 1 THEN 'Madhesh'
            WHEN 2 THEN 'Bagmati'
            WHEN 3 THEN 'Gandaki'
            WHEN 4 THEN 'Lumbini'
            WHEN 5 THEN 'Karnali'
            ELSE 'Sudurpashchim'
        END;

        -- Random district/city
        SET @District = CASE ABS(CHECKSUM(NEWID())) % 10
            WHEN 0 THEN 'Kathmandu'
            WHEN 1 THEN 'Lalitpur'
            WHEN 2 THEN 'Bhaktapur'
            WHEN 3 THEN 'Pokhara'
            WHEN 4 THEN 'Biratnagar'
            WHEN 5 THEN 'Birgunj'
            WHEN 6 THEN 'Butwal'
            WHEN 7 THEN 'Dharan'
            WHEN 8 THEN 'Hetauda'
            ELSE 'Nepalgunj'
        END;

        -- Random ward (1–35)
        SET @Ward = ABS(CHECKSUM(NEWID())) % 35 + 1;

        -- Random tole
        SET @Tole = CASE ABS(CHECKSUM(NEWID())) % 8
            WHEN 0 THEN 'Baneshwor'
            WHEN 1 THEN 'Kalanki'
            WHEN 2 THEN 'Koteshwor'
            WHEN 3 THEN 'Lakeside'
            WHEN 4 THEN 'New Road'
            WHEN 5 THEN 'Thamel'
            WHEN 6 THEN 'Pulchowk'
            ELSE 'Satdobato'
        END;

        INSERT INTO dbo.[Address]
        (
            country,
            provinceState,
            districtCity,
            ward,
            tole
        )
        VALUES
        (
            @Country,
            @Province,
            @District,
            @Ward,
            @Tole
        );

        SET @i = @i + 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spSeedContacts]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spSeedContacts]
    @TotalRecords INT = 1000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @i INT = 1;
    DECLARE @MaxUserId INT;

    SELECT @MaxUserId = MAX(userId) FROM dbo.PersonInfos;

    IF @MaxUserId IS NULL
    BEGIN
        PRINT 'No users found in PersonInfos table.';
        RETURN;
    END

    WHILE @i <= @TotalRecords
    BEGIN
        DECLARE @RandomUserId INT;
        DECLARE @RandomPhone BIGINT;
        DECLARE @Email NVARCHAR(50);
        DECLARE @Domain NVARCHAR(30);

        -- Random existing userId
        SET @RandomUserId = ABS(CHECKSUM(NEWID())) % @MaxUserId + 1;

        -- ✅ SAFE phone number (10 digits)
        SET @RandomPhone =
            9000000000 + ABS(CHECKSUM(NEWID())) % 1000000000;

        -- Random domain
        SET @Domain = CASE ABS(CHECKSUM(NEWID())) % 6
            WHEN 0 THEN 'gmail.com'
            WHEN 1 THEN 'yahoo.com'
            WHEN 2 THEN 'outlook.com'
            WHEN 3 THEN 'hotmail.com'
            WHEN 4 THEN 'protonmail.com'
            ELSE 'icloud.com'
        END;

        SET @Email = CONCAT('user', @RandomUserId, '_', @i, '@', @Domain);

        INSERT INTO dbo.Contacts
        (
            userId,
            email,
            phone,
            isDeleted,
            deletedBy,
            deletedDate,
            updatedBy,
            updatedDate,
            createdBy,
            createdDate
        )
        VALUES
        (
            @RandomUserId,
            @Email,
            @RandomPhone,
            0,
            NULL,
            NULL,
            NULL,
            NULL,
            1,
            GETDATE()
        );

        SET @i = @i + 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spSeedPersonInfos]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spSeedPersonInfos]
    @TotalRecords INT = 20   -- number of seed rows
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @i INT = 1;

    WHILE @i <= @TotalRecords
    BEGIN
        DECLARE @RandomDob DATE;

        -- Generate random DOB between 1970-01-01 and 2005-12-31
        SET @RandomDob = DATEADD(
            DAY,
            ABS(CHECKSUM(NEWID())) % DATEDIFF(DAY, '1970-01-01', '2005-12-31'),
            '1970-01-01'
        );

        INSERT INTO [dbo].[PersonInfos]
        (
            firstName,
            middleName,
            lastName,
            dob,
            createdDate,
            isDeleted,
            deletedBy,
            deletedDate,
            updatedBy,
            updatedDate
        )
        VALUES
        (
            CONCAT('First', @i),
            CONCAT('Mid', @i),
            CONCAT('Last', @i),
            @RandomDob,
            GETDATE(),          -- createdDate
            0,                  -- isDeleted
            NULL,               -- deletedBy
            NULL,               -- deletedDate
            NULL,               -- updatedBy
            NULL                -- updatedDate
        );

        SET @i = @i + 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spSeedUserAddress]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spSeedUserAddress]
    @TotalRecords INT = 1000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MinUserId INT = 24;
    DECLARE @MaxUserId INT;
    DECLARE @MaxAddressId INT;
    DECLARE @i INT = 1;

    -- Get max IDs
    SELECT @MaxUserId = MAX(userId) FROM dbo.PersonInfos;
    SELECT @MaxAddressId = MAX(AddressId) FROM dbo.[Address];

    IF @MaxUserId IS NULL OR @MaxAddressId IS NULL
    BEGIN
        PRINT 'User or Address table has no data.';
        RETURN;
    END

    WHILE @i <= @TotalRecords
    BEGIN
        DECLARE @UserId INT;
        DECLARE @AddressId INT;

        -- Random userId starting from 24
        SET @UserId =
            @MinUserId +
            ABS(CHECKSUM(NEWID())) % (@MaxUserId - @MinUserId + 1);

        -- Random addressId
        SET @AddressId =
            ABS(CHECKSUM(NEWID())) % @MaxAddressId + 1;

        -- Avoid duplicate relations
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.userAddress
            WHERE userId = @UserId
              AND addressId = @AddressId
        )
        BEGIN
            INSERT INTO dbo.userAddress (userId, addressId)
            VALUES (@UserId, @AddressId);

            SET @i = @i + 1;
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePersonEducation]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdatePersonEducation]
(
    @UserId       INT,
    @EducationId  INT,
    @CurrentlyStudying BIT,
    @Grade        FLOAT,
    @PassedYear   INT,
    @UpdatedBy    INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate user
    IF NOT EXISTS (SELECT 1 FROM dbo.PersonInfos WHERE userId = @UserId AND isDeleted = 0)
    BEGIN
        SELECT 'UserId does not exist' AS Response;
        RETURN;
    END

    -- Validate education
    IF NOT EXISTS (SELECT 1 FROM dbo.Educations WHERE educationId = @EducationId)
    BEGIN
        SELECT 'EducationId not found in master table' AS Response;
        RETURN;
    END

    -- Check user-education
    IF NOT EXISTS (SELECT 1 FROM dbo.UserEducations WHERE userId = @UserId AND educationId = @EducationId)
    BEGIN
        SELECT 'User does not have this education yet' AS Response;
        RETURN;
    END

    -- Update junction table
    UPDATE dbo.UserEducations
    SET currentlyStudying = @CurrentlyStudying,
        grade             = @Grade,
        passedYear        = @PassedYear,
        isDeleted         = 0,
        updatedBy         = @UpdatedBy,
        updatedDate       = GETDATE()
    WHERE userId = @UserId
      AND educationId = @EducationId;

    SELECT 'User education updated successfully' AS Response;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePersonInfo]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdatePersonInfo]
	-- Add the parameters for the stored procedure here
	@userId int,
	@firstName varchar(50),
	@middleName varchar(50),
	@lastName varchar(50),
	@dob date,
	@updatedBy int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    if(select userId from PersonInfos where userId = @userId and isDeleted = 0) is null 
	begin
		select 'UserId Does Not Exists' as Response
		return
	end

	update PersonInfos
		set
			firstName = @firstName,
			middleName = @middleName,
			lastName = @lastName,
			dob = @dob,
			updatedBy = @updatedBy,
			updatedDate = GetDate()
			where userId = @userId
			and isDeleted = 0

		select 'Updated Successfully'

END
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePersonSkill]    Script Date: 3/20/2026 1:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdatePersonSkill]
(
    @UserId    INT,
    @SkillId   INT,
    @SkillLevel VARCHAR(50),
    @UpdatedBy INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate user
    IF NOT EXISTS (SELECT 1 FROM dbo.PersonInfos WHERE userId = @UserId AND isDeleted = 0)
    BEGIN
        SELECT 'UserId does not exist' AS Response;
        RETURN;
    END

    -- Validate skill
    IF NOT EXISTS (SELECT 1 FROM dbo.Skills WHERE skillId = @SkillId)
    BEGIN
        SELECT 'SkillId not found in master table' AS Response;
        RETURN;
    END

    -- Check user-skill
    IF NOT EXISTS (SELECT 1 FROM dbo.UserSkill WHERE userId = @UserId AND skillId = @SkillId)
    BEGIN
        SELECT 'User does not have this skill yet' AS Response;
        RETURN;
    END

    -- Update junction table
    UPDATE dbo.UserSkill
    SET skillLevel  = @SkillLevel,
        isDeleted   = 0,
        updatedBy   = @UpdatedBy,
        updatedDate = GETDATE()
    WHERE userId = @UserId
      AND skillId = @SkillId;

    SELECT 'User skill updated successfully' AS Response;
END
GO
USE [master]
GO
